<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Chartful.BLL.p2p.PeerReceiver">
        <host>
          <baseAddresses>
            <add baseAddress="net.p2p://broadcastmesh/ChartfulService/"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at: net.p2p://broadcastmesh/servicemodelsamples/announcements  -->
        <endpoint address="broadcast"
                  binding="netPeerTcpBinding"
                  bindingConfiguration="TchatBinding"
                  contract="Chartful.BLL.p2p.IChartful" />
      </service>
    </services>
    <client>
      <endpoint name="BroadcastEndpoint"
                address="net.p2p://broadcastmesh/ChartfulService/broadcast"
                binding="netPeerTcpBinding"
                bindingConfiguration="TchatBinding"
                contract="Chartful.BLL.p2p.IChartful">
      </endpoint>
    </client>

    <bindings>
      <!-- 
            Following is the expanded configuration section for a NetPeerTcpBinding.
            Each property is configured with the default value, except for 
            peerNodeAuthenticationMode and port.
            See the security samples under Scenario\PeerChannel
            to learn how to configure NetPeerTcpBinding for security. 
            -->
      <netPeerTcpBinding>
        <binding name="TchatBinding"
                 port="0"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 maxReceivedMessageSize="65536"
                 maxBufferPoolSize="524288">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <security mode="None" />
          <resolver mode="Pnrp"/>
        </binding>
      </netPeerTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>